:root {
	background-color: #000;
	font-size: 16pt;
}

@font-face {
	font-family: NotoSans;
	src: url('../font/NotoSans-Variable.ttf') format('truetype');
}

@font-face {
	font-family: MinecraftSeven;
	src: url('../font/Minecraft-Seven-2.ttf') format('truetype');
}

body {
	font-family: NotoSans !important;
	background-origin: initial;
	background-color: black;
	background: url('../images/background_temp.jpg') no-repeat center;
	background-attachment: fixed;
	color: white;
}

.site-wrapper {
	background-color: transparent;
	padding: 0rem 1rem 0rem 1rem;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.site-main {
	position: relative;
	display: flex;
	align-items: flex-start;
	max-width: 100%;
	justify-content: center;
}

.inner {
	background-color: transparent;
	padding: 0.5rem;
	position: relative;
	width: 55rem;

}

.box {
	background-color: transparent;
	backdrop-filter: blur(5px);
	background: rgba(0, 0, 0, 0.5);
	padding: 1em;
	border: 0.5em solid violet;
	border-radius: 10pt;
	text-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: MinecraftSeven !important;
	text-align: center;
	font-size: 1rem !important;
	padding-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: white !important;
}

h1 {
	font-size: 2rem !important;
}

h2 {
	font-size: 1.85rem !important;
}

h3 {
	font-size: 1.7rem !important;
}

h4 {
	font-size: 1.55rem !important;
}

h5 {
	font-size: 1.4rem !important;
}

h6 {
	font-size: 1.25rem !important;
}

h1::after,
h2:after,
h3::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-size: 0.9rem;
	display: flex;
}

ul#navbar li {
	width: 100%;
}

ul#navbar li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

ul#navbar li a:hover {
	background-color: #111111;
}

p,
span {
	font-size: 0.9rem;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.box {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.6s, transform 0.6s;
}

.box.visible {
	animation: appear 0.6s forwards;
}

div.container {
	max-width: 100%;
}

div.row {
	margin-right: 0px;
}

@media (max-width: 1920px) {
	.site-main>.inner {
		width: 55rem !important
	}
}

@media (max-width: 1680px) {
	html {
		font-size: 14pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 12pt;
	}

	.site-main>.inner {
		width: 55rem !important;
	}
}

@media (max-width: 1024px) {
	.site-main>.inner {
		width: 55rem !important;
	}

	.site-wrapper {
		background-color: transparent;
		padding: 0 !important;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 9pt;
	}
}