:root {
	background-color: #000;
}

.site-wrapper {
	background-color: #000;
	padding: 0rem 1rem 0rem 1rem;
}

.site-main {
	position: relative;
	display: flex;
	align-items: flex-start;
	max-width: 100%;
	justify-content: center;
}

.inner {
	--padding-horizontal: 0.5rem;
	--padding-vertical: 0.5rem;
	--spacing: 0.75rem;
	background-color: white;
	position: relative;
	max-width: 100%;

}