:root {
	--bg: #0d1117;
	--surface: #161b22;
	--text: #f0f6fc;
	--muted: #8b949e;
	--accent: #7c8cf8;

	--max-width: 900px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
	font-family: Inter, system-ui, sans-serif;
	line-height: 1.7;
}

main {
	width: min(var(--max-width), 90%);
	margin: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

.hero {
	min-height: 80vh;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	text-align: center;
}

.avatar {
	width: 360px;
	height: 360px;
	border-radius: 50%;
	margin-bottom: 1rem;

	border: 15px, solid, white;
}

.buttons {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.buttons a {
	background: var(--surface);

	padding: .8rem 1.2rem;

	border-radius: 10px;

	transition: 0.2s;
}

.buttons a:hover {
	transform: translateY(-2px);
}