:root {
	--bg: rgba(13, 17, 23, 0.5);
	--surface: #161b22;
	--text: #f0f6fc;
	--muted: #8b949e;
	--accent: #7c8cf8;
	--hr-color: #808080;
	--hr: 2px solid var(--hr-color);
	--max-width: min(1300px, 100%);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
	font-family: Inter, system-ui, sans-serif;
	line-height: 1.7;
}

a {
	color: inherit;
	text-decoration: none;
}

.hero {
	min-height: 80vh;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	text-align: center;
	gap: 2rem;
}

/* desktop / wide screens */
@media (min-width: 900px) {
	.col {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.col1 {
		flex: 1;
		text-align: left;
	}

	.col2 {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-left: var(--hr);
	}
}

.avatar {
	width: min(360px, 100%);
	height: min(360px, 100%);
	border-radius: 50%;
	margin: 0 auto 1rem;
	object-fit: cover;
	background: white;
	box-shadow: 0 0 20px white;
	display: block;
}

.buttons {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.buttons a {
	background: var(--surface);

	padding: .8rem 1.2rem;

	border-radius: 10px;

	transition: 0.2s;
}

.buttons a:hover {
	transform: translateY(-2px);
}

.page {
	height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: var(--bg);
	/* justify-content: center; */
	backdrop-filter: blur(6px);
	padding: 1rem;
	width: min(var(--max-width), 90%);
	margin: auto;
}

.card {
	width: 100%;
	/* max-width: 1440px; */
	background: var(--bg);
	height: 100%;
	/* border-radius: 16px; */
	padding: 2.5rem;
	margin: 0rem 1rem;
	/* text-align: center; */
	/* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35); */
	/* border: 1px solid rgba(255, 255, 255, 0.05); */
}

.centered {
	text-align: center;
}

h1 {
	font-size: 1.6rem;
	margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
	content: "";
	display: block;
	height: 2px;
	background: var(--hr-color);
	margin-top: 0.5rem;
}

.subtitle {
	color: var(--muted);
	margin-bottom: 1.5rem;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	align-items: center;
}

.mcfont {
	font-family: 'MinecraftSeven';
}
