---
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>

	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
