---
import "../styles/global.css";
import "../styles/scrollbar.css";
import Panorama from "../components/Panorama.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>

	<body>
		<Panorama />
		<Navbar />
		<div class="page">
			<div class="card">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
